<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spzx.product.mapper.CategoryBrandMapper">

    <!--//根据分类id获取对应品牌数据-->
    <select id="selectBrandListByCategoryId" resultType="com.spzx.product.domain.Brand">
        select
            b.id, b.name, b.logo
        from category_brand cb
                 left join brand b  on b.id = cb.brand_id
        where cb.category_id=#{categoryId} and cb.del_flag = 0 and b.del_flag = 0
    </select>

    <select id="selectCategoryBrandList" resultType="com.spzx.product.domain.CategoryBrand">
        select
            cb.id, cb.brand_id, cb.category_id,
            cb.create_time, cb.update_time, cb.del_flag,
            c.name as categoryName,
            b.name as brandName, b.logo
        from category_brand cb
                 inner join brand b on cb.brand_id=b.id
                 inner join category c on cb.category_id=c.id
        <where>
            <if test="brandId != null "> and cb.brand_id = #{brandId}</if>
            <if test="categoryId != null "> and cb.category_id = #{categoryId}</if>
            and cb.del_flag = 0 and b.del_flag = 0 and c.del_flag = 0
        </where>
    </select>
</mapper>