<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spzx.product.mapper.ProductSpecMapper">

    <!--//分页查询商品规格，数据里面包含商品规格所属分类名称-->
    <select id="selectProductSpecList" resultType="com.spzx.product.domain.ProductSpec">
        select
            ps.id, ps.category_id, ps.spec_name, ps.spec_value, ps.create_time, ps.update_by, ps.update_time, ps.del_flag, ps.del_flag, ps.remark,
            c.name as categoryName
        from product_spec ps
                 left join category c on c.id = ps.category_id
        <where>
            <if test="specName != null  and specName != ''">
                and ps.spec_name like concat('%',#{specName},'%')
            </if>
            and ps.del_flag = 0
        </where>
    </select>
</mapper>