<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spzx.product.mapper.SkuStockMapper">

    <!--检验库存
    //select * from  sku_stock st where st.sku_id=? and st.available_num>?
    -->
    <select id="check" resultType="com.spzx.product.domain.SkuStock">
        select * from  sku_stock st
                 where st.sku_id=#{skuId} and st.available_num>#{skuNum} for update
    </select>

    <!--锁定库存-->
    <update id="lock">
        update sku_stock
        set lock_num = lock_num + #{skuNum}, available_num = available_num - #{skuNum}
        where sku_id = #{skuId}
    </update>

    <update id="unlock">
        update sku_stock
        set lock_num = lock_num - #{skuNum}, available_num = available_num + #{skuNum}
        where sku_id = #{skuId}
    </update>

    <update id="minus">
        update sku_stock
        set lock_num = lock_num - #{skuNum},total_num = total_num - #{skuNum},sale_num = sale_num + #{skuNum}
        where sku_id = #{skuId}
    </update>
</mapper>