<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.admin.mapper.RoomInfoMapper">

    <resultMap id="BaseResultMap" type="com.atguigu.lease.model.entity.RoomInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="roomNumber" column="room_number" jdbcType="VARCHAR"/>
        <result property="rent" column="rent" jdbcType="DECIMAL"/>
        <result property="apartmentId" column="apartment_id" jdbcType="BIGINT"/>
        <result property="isRelease" column="is_release" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,room_number,rent,
        apartment_id,is_release,create_time,
        update_time,is_deleted
    </sql>

    <resultMap id="roomInfoVoMap" type="com.atguigu.lease.web.admin.vo.room.RoomItemVo" autoMapping="true">
        <id property="id" column="id"/>
        <association property="apartmentInfo" javaType="com.atguigu.lease.model.entity.ApartmentInfo"
                     autoMapping="true">
            <id property="id" column="apart_id"/>
        </association>
    </resultMap>
    <select id="pageItem" resultMap="roomInfoVoMap">
        select
        ri.id,
        ri.room_number,
        ri.rent,
        ri.apartment_id,
        ri.is_release,
        la.lease_end_date,
        la.room_id is not null is_check_in,
        ai.id apart_id,
        ai.name,
        ai.introduction,
        ai.district_id,
        ai.district_name,
        ai.city_id,
        ai.city_name,
        ai.province_id,
        ai.province_name,
        ai.address_detail,
        ai.latitude,
        ai.longitude,
        ai.phone,
        ai.is_release apart_is_release
        from room_info ri
            left join lease_agreement la
                on la.room_id=ri.id and la.is_deleted=0 and la.status in (2,5)
            left join apartment_info ai
                on ri.apartment_id=ai.id and ai.is_deleted=0
        <where>
            ri.is_deleted=0
            <if test="queryVo.provinceId != null">
                and ai.province_id = #{queryVo.provinceId}
            </if>
            <if test="queryVo.cityId != null">
                and ai.city_id = #{queryVo.cityId}
            </if>
            <if test="queryVo.districtId != null">
                and ai.district_id = #{queryVo.districtId}
            </if>
            <if test="queryVo.apartmentId != null">
                and ri.apartment_id = #{queryVo.apartmentId}
            </if>
        </where>
    </select>
</mapper>
